<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đơn đặt hàng chi tiết</title>

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!-- Libraries Stylesheet -->
    <link href="/assert/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assert/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/assert/css/style/homepage/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/assert/css/style/homepage/home-page-style.css" rel="stylesheet">

    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>

<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner"
         class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->

    <!-- Sidebar Start -->
    <div th:replace="~{shared/sidebar.html :: sidebar}"></div>
    <!-- Sidebar End -->

    <!-- Content Start -->
    <div class="content">

        <!-- Navbar Start -->
        <div th:replace="~{shared/navbar.html :: navbar}"></div>
        <!-- Navbar End -->

        <div class="container-fluid d-flex flex-column m-2">
            <div class="alert alert-success alert-dismissible fade show" th:if="${success}" role="alert">
                <span th:text="${success}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" th:if="${errorUpdate}" role="alert">
                <span th:text="${errorUpdate}"></span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/purchase-order/list}">Đơn đặt hàng</a></li>
                    <li class="breadcrumb-item active">Chi tiết</li>
                </ul>
                <div class="heading mt-3">
                    <h3>Đơn đặt hàng</h3>
                </div>
                <div id="order-info" class="row">
                    <div class="col m-3">
                        <p><b>Tên khách hàng: </b> <span th:text="${orderInfo.customerName}"></span> </p>
                        <p><b>Công ty: </b> <span th:text="${orderInfo.companyName}"></span></p>
                        <p><b>Mã thuế: </b> <span th:text="${orderInfo.taxNumber}"></span></p>
                        <p><b>Địa chỉ: </b> <span th:text="${orderInfo.companyAddress}"></span></p>
                        <div th:if="${currUser.role.name == 'SALE_STAFF'}">
                            <div th:if="${orderInfo.status.name() ==  'DRAFT'}">
                                <p><b>Hợp đồng: </b> Hãy tạo đơn để tải ảnh lên</p>
                            </div>
                            <div th:unless="${orderInfo.status.name() ==  'DRAFT'}">
                                <p th:if="${orderInfo.contractId != null}"><b>Hợp đồng: </b> <a th:href="@{'/purchase-order/detail/' + ${purchaseOrderId} + '/contract/' + ${orderInfo.contractId}}">Ấn để xem</a></p>
                                <p th:unless="${orderInfo.contractId != null}"><b>Hợp đồng: </b> <a th:href="@{'/purchase-order/detail/' + ${purchaseOrderId} + '/contract/upload'}"> Tải ảnh lên</a> </p>
                            </div>
                        </div>
                        <div th:if="${currUser.role.name == 'SALE_MANAGER'}">
                            <p th:if="${orderInfo.contractId != null}"><b>Hợp đồng: </b> <a th:href="@{'/purchase-order/detail/' + ${purchaseOrderId} + '/contract/' + ${orderInfo.contractId}}">Ấn để xem</a></p>
                            <p th:unless="${orderInfo.contractId != null}"><b>Hợp đồng: </b> Hãy đợi nhân viên tải ảnh lên.</p>
                        </div>


                    </div>
                    <div class="col m-3">
                        <p><b>Trạng thái: </b>
                            <span th:switch="${orderInfo.status}">
                                         <span th:case="${T(fpt.g36.gapms.enums.BaseEnum).APPROVED}" th:text="'Đã được duyệt'"
                                               style="color: green;">
                                         </span>
                                          <span th:case="${T(fpt.g36.gapms.enums.BaseEnum).NOT_APPROVED}" th:text="'Chưa được phê duyệt'"
                                                style="color: #ffc107;">
                                          </span>
                                          <span th:case="${T(fpt.g36.gapms.enums.BaseEnum).WAIT_FOR_APPROVAL}" th:text="'Đang chờ phê duyệt'" style="color: #ffc107;"></span>
                                          <span th:case="${T(fpt.g36.gapms.enums.BaseEnum).DRAFT}" th:text="'Sơ thảo'" style="color: #ffc107;"></span>
                                           <span th:case="${T(fpt.g36.gapms.enums.BaseEnum).CANCELED}" th:text="'Đã hủy'" style="color: red;"></span>
                                           <span th:case="*" th:text="'Trạng thái không xác định'" style="color: gray;"></span>
                            </span>
                        </p>
                        <p><b>Ngày giao mong muốn: </b> <span th:text="${#temporals.format(orderInfo.expectedDeliveryDate, 'dd-MM-yyy')}"></span> </p>
                        <p><b>Ngày thực giao: </b> <span th:text="${#temporals.format(orderInfo.actualDeliveryDate, 'dd-MM-yyy')}"></span></p>
                        <p><b>Giải pháp: </b> <a th:href="@{'/purchase-order/detail/solution/' + ${orderInfo.solutionId}}">Ấn để xem</a></p>
                    </div>
                </div>

                <hr>

                <div class="mt-3">
                    <h4>Chi tiết đơn hàng</h4>
                </div>
                <div>
                    <table id="order-table" class="table table-hover mt-3">
                        <thead>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Thương hiệu</th>
                            <th>Danh mục</th>
                            <th>Ghi chú</th>
                            <th>Số lượng</th>
                            <th>Giá theo màu</th>
                            <th>Thành tiền (VND)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${items}">
                            <td th:text="${item.productName}"></td>
                            <td th:text="${item.brandName}"></td>
                            <td th:text="${item.categoryName}"></td>
                            <td th:text="${item.noteColor}"></td>
                            <td th:text="${item.quantity}"></td>
                            <td th:text="${#numbers.formatDecimal(item.price, 1, 'COMMA', 0, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(item.detailAmount, 1, 'COMMA', 0, 'POINT')}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <hr>

                <div class="d-flex flex-column mt-3">
                    <p><strong>Ngày thực giao: </strong> 11-02-2025</p>
                    <div class="d-flex">
                        <p style="margin-right: 10px"><strong>Tổng tiền: </strong></p>
                        <span th:text="${#numbers.formatDecimal(#aggregates.sum(items.![detailAmount]), 1, 'COMMA', 0, 'POINT')}" style="margin-right: 3px"></span> VND
                    </div>
                </div>

                <hr>

                <div class="mt-3 d-flex align-items-center">
                    <form th:if="${orderInfo.status.name() == 'DRAFT'}"
                            th:action="@{'/purchase-order/detail/' + ${orderInfo.id}}" method="post">
                        <button type="submit" class="btn btn-primary">Confirm</button>
                    </form>
                    <form th:if="${orderInfo.status.name() == 'NOT_APPROVED'}"
                          th:action="@{'/purchase-order/detail/' + ${orderInfo.id}}" method="post">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <div th:if="${currUser.role.name == 'SALE_MANAGER'}">
                        <form th:if="${orderInfo.status.name() == 'WAIT_FOR_APPROVAL'}"
                              th:action="@{'/purchase-order/detail/' + ${orderInfo.id}}" method="post">
                            <button type="submit" class="btn btn-primary">Approve</button>
                        </form>
                    </div>
                    <a th:href="@{/purchase-order/list}" class="btn btn-secondary">Back</a>
                </div>
        </div>

        <!-- Footer Start -->
        <div th:replace="~{shared/footer.html :: footer}"></div>
        <!-- Footer End -->
    </div>
</div>

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assert/lib/chart/chart.min.js"></script>
    <script src="/assert/lib/easing/easing.min.js"></script>
    <script src="/assert/lib/waypoints/waypoints.min.js"></script>
    <script src="/assert/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/assert/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/assert/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/assert/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="/assert/js/main.js"></script>

</body>
</html>