.product-name {
    font-size: 20px;
    font-weight: 600;
}

.expected-date-header {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.actual-date-header {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.reason-header {
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.text-green {
    color: green;
    font-weight: bold;
}

.text-yellow {
    color: orange;
    font-weight: bold;
}

.text-gray {
    color: gray;
    font-weight: bold;
}