<div class="container-fluid pt-4 px-4" th:fragment="footer">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                &copy; <a href="#">Your Site Name</a>, All Right Reserved.
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                Designed By <a href="https://htmlcodex.com">HTML Codex</a>
            </div>
        </div>
    </div>
</div>

<!--
<footer class="footer  text-white py-3" >
    <div class="container">
        <div class="row align-items-center">
            &lt;!&ndash; Left Section (Logo & Contact Info) &ndash;&gt;
            <div class="col-md-4 text-center text-md-start">
                <img src="/assert/images/LG.png" alt="Dung Dong Logo" class="footer-logo mb-2">
                <p class="small"><i class="fas fa-map-marker-alt me-1"></i> Lô N10 – 2 Cụm SX Làng Nghề, Hà Nội</p>
                <p class="small"><i class="fas fa-phone-alt me-1"></i> 0356.478.516 / 0973.298.527</p>
            </div>

            &lt;!&ndash; Middle Section (Thông tin chung) &ndash;&gt;
            <div class="col-md-4 text-center">
                <h6 class="footer-title">Thông tin</h6>
                <div class="footer-links">
                    <a href="#" class="footer-link">Chủ sở hữu</a> |
                    <a href="#" class="footer-link">Chính sách</a> |
                    <a href="#" class="footer-link">Bảo mật</a> |
                    <a href="#" class="footer-link">Thanh toán</a>
                </div>
            </div>

            &lt;!&ndash; Right Section (Bản đồ) &ndash;&gt;
            <div class="col-md-4 text-center">
                <h6 class="footer-title">Bản đồ</h6>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1472348520834!2d105.80699841533112!3d20.974720218870785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab96f2d2f94d%3A0x32b1f0e7691eeb99!2zMjDCsDU4JzI5LjAiTiAxMDXCsDQ4JzI1LjIiRQ!5e0!3m2!1svi!2s!4v1614176356921!5m2!1svi!2s"
                        class="footer-map"></iframe>
            </div>
        </div>
    </div>


</footer>
-->


