<div class="container-fluid pt-4 px-4" th:fragment="footer">
    <div class="bg-light rounded-top p-4">
        <div class="row">
            <!-- Bên trái -->
            <div class="col-12 col-md-6">
                <div class="d-flex flex-column">
                    <!-- Logo -->
                    <div class="mb-3">
                        <img src="/assert/images/LG-removebg-preview.png" alt="logo" style="width: 200px; height: 80px;">
                    </div>
                    <!-- Địa chỉ và liên hệ -->
                    <div>
                        <p class="mb-1"><strong>Địa chỉ:</strong> Lô N10 – 2 Cụm Sản Xuất Làng Nghề Tập Trung, Xã Tân Triều, Thanh Trì, Hà Nội</p>
                        <p class="mb-1"><strong>Mst:</strong>0101196599</p>
                        <p class="mb-1"><strong>Điện thoại:</strong> 0243 522 1898 – Fax: 0243 552 0488</p>
                        <p class="mb-1"><strong>Email:</strong>dntndungdong@gmail.com</p>
                        <p class="mb-1"><strong>Hotline:</strong> 0356.478.516/0973.298.527</p>
                    </div>
                </div>
            </div>

            <!-- Bên phải -->
            <div class="col-12 col-md-6">
                <div class="row">
                    <!-- Bên trái của phải: Tiêu đề "Thông tin chung" -->
                    <div class="col-6 text-center">
                        <h5 class="mb-3 title-underline">Thông tin chung</h5>
                        <ul class="list-unstyled footer-links">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Dịch vụ</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div>

                    <!-- Bên phải của phải: Bản đồ -->
                    <div class="col-6 text-center">
                        <h5 class="mb-3 title-underline">Bản đồ</h5>
                        <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.507972532587!2d105.80684327554106!3d20.974753980643402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab9f26c2a6d3%3A0x6f3d9142556b411!2zMjAg4oCTIDU4JzI5LjEiTiAxMDXCsDQ4JzI0LjYiRQ!5e0!3m2!1sen!2s!4v1700000000000"
                                width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!--
<footer class="footer  text-white py-3" >
    <div class="container">
        <div class="row align-items-center">
            &lt;!&ndash; Left Section (Logo & Contact Info) &ndash;&gt;
            <div class="col-md-4 text-center text-md-start">
                <img src="/assert/images/LG.png" alt="Dung Dong Logo" class="footer-logo mb-2">
                <p class="small"><i class="fas fa-map-marker-alt me-1"></i> Lô N10 – 2 Cụm SX Làng Nghề, Hà Nội</p>
                <p class="small"><i class="fas fa-phone-alt me-1"></i> 0356.478.516 / 0973.298.527</p>
            </div>

            &lt;!&ndash; Middle Section (Thông tin chung) &ndash;&gt;
            <div class="col-md-4 text-center">
                <h6 class="footer-title">Thông tin</h6>
                <div class="footer-links">
                    <a href="#" class="footer-link">Chủ sở hữu</a> |
                    <a href="#" class="footer-link">Chính sách</a> |
                    <a href="#" class="footer-link">Bảo mật</a> |
                    <a href="#" class="footer-link">Thanh toán</a>
                </div>
            </div>

            &lt;!&ndash; Right Section (Bản đồ) &ndash;&gt;
            <div class="col-md-4 text-center">
                <h6 class="footer-title">Bản đồ</h6>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.1472348520834!2d105.80699841533112!3d20.974720218870785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab96f2d2f94d%3A0x32b1f0e7691eeb99!2zMjDCsDU4JzI5LjAiTiAxMDXCsDQ4JzI1LjIiRQ!5e0!3m2!1svi!2s!4v1614176356921!5m2!1svi!2s"
                        class="footer-map"></iframe>
            </div>
        </div>
    </div>


</footer>
-->


