<div class="sidebar pe-4 pb-3" th:fragment="sidebar">
    <nav class="navbar bg-light navbar-light">
        <a href="/home_page" class="navbar-brand mx-4 mb-3">
            <!--<h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHMIN</h3>-->
            <img class="rounded-circle" src="/assert/images/LG-removebg-preview.png" alt=""
                 style="width: 200px; height: 80px;">
        </a>
        <!--<div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <img class="rounded-circle" src="img/user.jpg" alt="" style="width: 40px; height: 40px;">
                <div
                        class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0">Jhon Doe</h6>
                <span>Admin</span>
            </div>
        </div>-->
        <div id="searchResults" class="navbar-nav w-100" th:if="${#authorization.expression('not isAuthenticated()')}">
            <a href="/home_page" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Trang chủ</a>
            <a href="#gioiThieu" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Giới thiệu</a>

            <a href="#sanphamnoibat" class="nav-item nav-link"><i
                    class="fa fa-laptop me-2"></i>Dịch vụ sản phẩm</a>

            <a href="#tinTuc" class="nav-item nav-link">
                <i class="fa-solid fa-newspaper me-2"></i> Tin Tức
            </a>
            <a href="#dangKy" class="nav-item nav-link">
                <i class="fa-solid fa-file-signature me-2"></i> Đăng ký nhận tin
            </a>
            <a href="#footer" class="nav-item nav-link">
                <i class="fa-solid fa-envelope me-2"></i> Liên Hệ
            </a>

        </div>
        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''CUSTOMER'')')}">
            <a href="index.html" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Khách Hàng</a>
            <a th:href="@{/request-for-quotation/view-list}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>yêu
                cầu báo giá</a>
            <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
            <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>

        </div>

        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
            <a href="index.html" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Quản trị viên</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class="fa fa-laptop me-2"></i>Elements</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="button.html" class="dropdown-item">Buttons</a>
                    <a href="typography.html" class="dropdown-item">Typography</a>
                    <a href="element.html" class="dropdown-item">Other Elements</a>
                </div>
            </div>
            <a href="/admin/list_account" class="nav-item nav-link"><i class="fa-solid fa-user"></i>Manage Account</a>
            <a href="widget.html" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Widgets</a>
            <a href="form.html" class="nav-item nav-link"><i class="fa fa-keyboard me-2"></i>Forms</a>
            <a href="table.html" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Tables</a>
            <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Charts</a>

        </div>

        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''SALE_STAFF'')')}">
            <a href="index.html" class="nav-item nav-link active">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/quotation/list" class="nav-item nav-link">
                <i class="fa-solid fa-user"></i>Danh sách báo giá</a>
            <a href="/purchase-order/list" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i>Danh sách đơn hàng</a>
            <a href="/sale-staff/view-all-cus-rfq" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i> Yêu cầu báo giá</a>
            <a href="/sale-staff/view-all-rfq-solution" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i>Giải pháp báo giá</a>
        </div>
        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''TECHNICAL'')')}">
            <a href="/technical/view-approved-production-order" class="nav-item nav-link active">
                <i class="fa fa-tachometer-alt me-2"></i>Quản lý lệnh SX</a>
            <a href="/technical/view-all-work-order" class="nav-item nav-link active">
                <i class="fa fa-tachometer-alt me-2"></i>Quản lý kế hoạch</a>
            <a href="/technical/view-all-solution" class="nav-item nav-link">
                <i class="fa-solid fa-user"></i> Giải pháp báo giá</a>
            <a href="/technical/view-all-rfq" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i>Yêu cầu báo giá</a>
            <a href="/technical/view-all-machine" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i>Quản lý máy móc</a>
        </div>

        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''SALE_MANAGER'')')}">
            <a href="/dashboard" class="nav-item nav-link active">
                <i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
            <a href="/purchase-order/list" class="nav-item nav-link">
                <i class="fa fa-th me-2"></i>Danh sách đơn hàng</a>
        </div>
        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''LEAD_DYE'')')}">
            <a href="index.html" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Tổ Nhuộm</a>
            <a th:href="@{/work-order/team-leader/list}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Lệnh Làm
                Việc</a>
        </div>
        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''LEAD_WINDING'')')}">
            <a href="index.html" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Tổ Đánh Côn</a>
            <a th:href="@{/work-order/team-leader/list}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Lệnh Làm
                Việc</a>
        </div>
        <div class="navbar-nav w-100" th:if="${#authorization.expression('hasRole(''LEAD_PACKAGING'')')}">
            <a href="index.html" class="nav-item nav-link active"><i
                    class="fa fa-tachometer-alt me-2"></i>Tổ Đóng Gói</a>
            <a th:href="@{/work-order/team-leader/list}" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Lệnh Làm
                Việc</a>
        </div>
    </nav>
</div>